body {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  background: none;
}

.SCREEN {
  margin: 0;
}

.no-border {
  border: none;
  border-collapse: collapse;
  border-color: transparent;
}

.PROGRAMLISTING,
.SCREEN {
  font-size: 14px;
}

table.NOTE td:nth-of-type(1) > img,
table.CAUTION td:nth-of-type(1) > img,
table.TIP td:nth-of-type(1) > img,
table.WARNING td:nth-of-type(1) > img,
table.IMPORTANT td:nth-of-type(1) > img,
table.FOOTNOTES td:nth-of-type(1) > a {
  margin-top: 1em;
  margin-bottom: 1em;
}

table.FOOTNOTES td:nth-of-type(1) > a {
  display: block;
}

table.CALSTABLE {
  border: none;
  border-spacing: 0;
}

table.CALSTABLE th,
table.CALSTABLE td {
  border: none;
  padding: 0.6em;
}

table.CALSTABLE th,
table.CALSTABLE tr:not(:last-of-type) td {
  border-bottom: 1px solid #eee;
}

#theme-toggle {
  position: fixed;
  top: 8px;
  right: 8px;
}

.dark-mode {
  background: #2e3436;
  color: #f8f8f2;
}

.dark-mode a {
  color: #66d9ef;
}

.dark-mode a:visited {
  color: #ae81ff;
}

.dark-mode table.CALSTABLE th,
.dark-mode table.CALSTABLE tr:not(:last-of-type) td {
  border-color: #434b4e;
}
